/* line 13, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
body .frameMaterial {
  height: auto;
  width: auto; }
  /* line 16, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
  body .frameMaterial .material {
    width: 100%;
    height: auto;
    justify-content: center; }
    /* line 20, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .material .lens {
      height: 700px;
      width: 50%;
      float: left;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      align-content: center; }
      /* line 30, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
      body .frameMaterial .material .lens .contentLeft {
        height: auto;
        width: auto;
        padding-right: 120px;
        display: flex;
        flex-flow: row wrap;
        align-content: center; }
      /* line 39, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
      body .frameMaterial .material .lens .contentRight {
        height: auto;
        width: auto;
        padding-left: 120px;
        display: flex;
        flex-flow: row wrap;
        align-content: center; }
      /* line 48, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
      body .frameMaterial .material .lens h5 {
        z-index: 10;
        color: white;
        display: block;
        align-self: center;
        text-transform: uppercase;
        flex-basis: 100%;
        padding: 5px 0px; }
      /* line 58, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
      body .frameMaterial .material .lens h6 {
        z-index: 10;
        color: white;
        display: block;
        align-self: center;
        text-transform: uppercase;
        flex-basis: 100%;
        padding: 5px 0px; }
      /* line 67, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
      body .frameMaterial .material .lens p {
        z-index: 10;
        color: white;
        display: inline-block;
        align-self: center;
        width: 100% !important;
        padding: 1em 6em;
        flex-basis: 100%;
        text-align: center; }
      /* line 77, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
      body .frameMaterial .material .lens .overlayButton {
        float: left;
        clear: left; }
    /* line 82, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .material .left {
      background-image: url(../img/cotton.jpg);
      background-size: cover; }
    /* line 86, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .material .right {
      background-image: url(../img/leaf.jpg);
      background-size: cover; }
  /* line 91, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
  body .frameMaterial .buttonBoxOverlay {
    width: 345px;
    height: auto;
    background-color: transparent;
    margin-top: 260px;
    z-index: 11;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #fff; }
    /* line 103, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .buttonBoxOverlay h3 {
      font-size: 2em;
      color: #fff;
      padding: 1.5em 1em; }
    /* line 108, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .buttonBoxOverlay .withBreak {
      display: block; }
    /* line 111, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .buttonBoxOverlay .withOutBreak {
      display: none; }

@media screen and (max-width: 1200px) and (min-width: 651px) {
  /* line 122, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
  body .frameMaterial .material .lens {
    padding-top: 80px; }
    /* line 124, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .material .lens .contentLeft {
      padding-right: 0px; }
    /* line 127, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .material .lens .contentRight {
      padding-left: 0px; }
    /* line 130, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .material .lens p {
      padding: 1em 4em; }
  /* line 135, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
  body .frameMaterial .buttonBoxOverlay {
    width: auto;
    max-width: 450px;
    height: auto;
    margin-top: 30px; }
    /* line 140, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .buttonBoxOverlay h3 {
      font-size: 2em;
      color: #fff;
      padding: 1em 2em; }
    /* line 145, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .buttonBoxOverlay .withBreak {
      display: none; }
    /* line 148, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .buttonBoxOverlay .withOutBreak {
      display: block;
      width: auto; } }

@media screen and (max-width: 650px) {
  /* line 161, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
  body .frameMaterial .material .lens {
    width: 100%;
    padding-top: 2em;
    height: auto; }
    /* line 165, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .material .lens .contentLeft {
      padding-right: 0px; }
    /* line 168, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .material .lens .contentRight {
      padding-left: 0px; }
    /* line 171, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
    body .frameMaterial .material .lens p {
      width: 100%;
      padding: 1em; }
  /* line 177, /Users/retail/Desktop/code/zealOpticsStyleGuide/css/frameMaterial.scss */
  body .frameMaterial .buttonBoxOverlay {
    display: none; } }

/*# sourceMappingURL=frameMaterial.css.map */