$lightGrey: #ccc;
$mediumGrey: #666;
$darkGrey: #333;
$navy: #036;
$white: #fff;
$turquoise: #366;
$orange: #c30;
$rust: #a52900;
$black: #000;
@import 'reset.css';
@import 'typography.css';
@import 'color.css';
@import 'style.css';

body{

    .beforeAfterContainer{
        width:100%;
        height:auto;
        justify-content:center;
        .lens{
            display:flex;
            height:800px;
            width:50%;
            float:left;
            margin:0;
            padding:0;
            flex-flow:row wrap;
            align-content:center;
            img{
//                width:100%;
                
            }
            h5{
                text-shadow: 0px 0px 7px #333;
                z-index: 10;
                color:white;
                display:block;
                align-self:center;
                text-transform:uppercase;
                flex-basis:100%;
                padding:5px 0px;
            }            
            
            h6{
                text-shadow: 0px 0px 7px #333;
                z-index: 10;
                color:white;
                display:block;
                align-self:center;
                text-transform:uppercase;
                flex-basis:100%;
                padding:5px 0px;
            }
            p{
                text-shadow: 0px 0px 7px #333;
                z-index: 10;
                color:white;
                display:block;
                align-self:center;
                max-width:50%;
                flex-basis:100%;
                text-align:center;
            }
        }
        .left{
            background-image:url(../img/beforeEllume.jpg);
            background-size:cover;
        }
        .right{
            background-image:url(../img/afterEllume.jpg);
            background-size:cover;
        }
        .buttonBoxOverlay{
            width:345px;
            height:242px;
            background-color:$white;
            margin-top:-521px;
            margin:0 auto;
            text-align:center;
            z-index: 11;
            position: fixed;
        }
    }
}