$lightGrey: #ccc;
$mediumGrey: #666;
$darkGrey: #333;
$navy: #036;
$white: #fff;
$turquoise: #366;
$orange: #c30;
$rust: #a52900;
$black: #000;
@import 'style.css';

body{
    .beforeAfterAndButtonBoxOverlay{
        height:auto;
        width:auto;
        .beforeAfterContainer{
            width:100%;
            height:auto;
            justify-content:center;
            .lens{
                display:flex;
                height:700px;
                width:50%;
                float:left;
                margin:0;
                padding:0;
                flex-flow:row wrap;
                align-content:center;
                img{
//                    width:100%;

                }
                h5{
                    text-shadow: 0px 0px 7px #333;
                    z-index: 10;
                    color:white;
                    display:block;
                    align-self:center;
                    text-transform:uppercase;
                    flex-basis:100%;
                    padding:5px 0px;
                }            

                h6{
                    text-shadow: 0px 0px 7px #333;
                    z-index: 10;
                    color:white;
                    display:block;
                    align-self:center;
                    text-transform:uppercase;
                    flex-basis:100%;
                    padding:5px 0px;
                }
                p{
                    text-shadow: 0px 0px 7px #333;
                    z-index: 10;
                    color:white;
                    display:block;
                    align-self:center;
                    max-width:50%;
                    flex-basis:100%;
                    text-align:center;
                }
            }
            .left{
                background-image:url(../img/beforeEllume.jpg);
                background-size:cover;
            }
            .right{
                background-image:url(../img/afterEllume.jpg);
                background-size:cover;
            }
        }  
        .buttonBoxOverlay{
            width:345px;
            height:242px;
            background-color:$white;
            margin-top:220px;
            z-index: 11;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            h3{
               font-size:2em; 
                color:$navy;
            }
            .overlayButton{
                margin: 0 auto;
            }
        }
    }
    .lensPreviews{
        width:100%;
        height:auto;
        padding:20px 0 0 0;
        background-image: url(../img/decorative-texture-1.png);
        display:flex;
        justify-content: center;
        .lensThumbnail{
            padding: 0px 110px 0 110px;
            display:inline-block;
            .lensThumbnailImage{
                border-radius: 30px;
                height: 29px;
                width: 29px;
                text-align:center;
                margin: 0 auto;
                display:block;
                border: solid $black;
            }
            
            .slideArrow{
                text-align:center;
                display:block;
                margin:0 auto;
            }
            a{
                font-weight:bold;
                text-transform:uppercase;
                color:navy;
                border:4px;
            }
        }
    }
}

