$lightGrey: #ccc;
$mediumGrey: #666;
$darkGrey: #333;
$navy: #036;
$white: #fff;
$turquoise: #366;
$orange: #c30;
$rust: #a52900;
$black: #000;
@import 'reset.css';
@import 'typography.css';
@import 'color.css';

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Interstate", Helvetica, Arial, sans-serif;
    letter-spacing: .025em;
    color: $darkGrey;
    line-height: 1.5;
    font-size: 16px;
    background-color:$white;

    .productLineup{
        width: 100%;
        text-align: center;
        background-color: transparent;
    //        font-size: 0;
        margin: 0 auto;
    //        max-width:1680px;
        box-sizing: border-box;
        display: flex;
        flex-flow:row wrap;
        .product{
            flex-basis:50%;
            align-content: flex-start;
            box-sizing: border-box;
            display:block;
            padding:20px;
            img{
                align-content: flex-start;
                flex-basis: 100%;
                width:100%;
                height:100%;
            }
            .description{
                display:flex;
                width:auto;
                flex-flow:row wrap;
                justify-content: flex-start;
                align-items: flex-start;
                
                .descriptionText{
                    flex-basis: 50%;
                    flex-flow:row wrap;
                    display:inline-block;
                    font-size: 1.5rem;
                    flex-basis:auto;
                    flex-grow:0;
                    text-align:left;
                } 
                
                .strike{
                    text-decoration: line-through;
                }

                .descriptionTextStart{
                    width: 50%;
                    flex-flow:row wrap;
                    display:inline-block;
                    font-size: 1.5rem;
                    flex-basis:auto;
                    flex-grow:0;
                    text-align:left;
                }                

                .descriptionTextEnd{
                    width: 50%;
                    flex-flow:row wrap;
                    display:inline-block;
                    font-size: 1.5rem;
                    flex-basis:auto;
                    flex-grow:0;
                    text-align:right;
                    justify-content:flex-end;
                }
            }
        }
    }
}