$lightGrey: #ccc;
$mediumGrey: #666;
$darkGrey: #333;
$navy: #036;
$white: #fff;
$turquoise: #366;
$orange: #c30;
$rust: #a52900;
$black: #000;
@import 'reset.css';
@import 'typography.css';
@import 'standAloneButton.css';

body{
    
    .productLineup{
        width: 100%;
        text-align: center;
        background-color: $white;
    //        font-size: 0;
        margin: 0 auto;
    //        max-width:1680px;
        box-sizing: border-box;
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
        .product{
            flex-basis:33.33%;
            align-content: flex-start;
            box-sizing: border-box;
            display:block;
            padding:20px;
            img{
                align-content: flex-start;
                flex-basis: 100%;
                width:100%;
                height:100%;
            }
            .featured{
                flex-basis:50%;
            }
            .description{
                display:flex;
                width:auto;
                flex-flow:row wrap;
                justify-content: flex-start;
                align-items: flex-start;

                .title{
                    width: 100%;
                    flex-flow:row wrap;
                    display:inline-block;
                    font-size: 1.5em;
                    flex-basis:auto;
                    flex-grow:0;
                    text-align:center;
                }

                .descriptionText{
                    flex-basis: 33.33%;
                    flex-flow:row wrap;
                    display:inline-block;
                    font-size: 1.5em;
                    flex-basis:auto;
                    flex-grow:0;
                    text-align:left;
                    font-weight: bold;
                } 


                .price{
                    width: 100%;
                    flex-flow:row wrap;
                    display:inline-block;
                    font-size: 1.5em;
                    flex-basis:auto;
                    flex-grow:0;
                    text-align:center;
                }                
            }
        }
    }

}