$lightGrey: #ccc;
$mediumGrey: #666;
$darkGrey: #333;
$navy: #036;
$white: #fff;
$turquoise: #366;
$orange: #c30;
$rust: #a52900;
$black: #000;


@import 'reset.css';

body {
    padding: 0;
    margin: 0;
    background: $darkGrey;
    box-sizing: border-box;
    font-family: "Interstate", Helvetica, Arial, sans-serif;
    letter-spacing: .025em;
    color: $darkGrey;
    line-height: 1.5;
    font-size: 16px;
}

* {
    box-sizing: inherit;
}

.main {
    width: 100%;
    max-width:1680px;
    margin:0 auto;
    background-color:white; 
    padding-bottom:5em;
}


a {
    font-family: "Interstate", sans-serif;
    color: $mediumGrey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    padding:1em;
}
a:hover{

}

a:active{

}

.styleGuideHeader{
    color:white;
    background-color:$navy;
    padding:200px 0;
}

.exampleLink{
    margin:0 auto;
    width:100%;
    max-width:1000px;
    a{
        width:auto;
        text-align:center;
        display:block;
    }
}

.typography, .color, .compnents{
    padding:3em 0;
}

h1, h2, h3, h4, h5, h6, h7{
    font-family: "Interstate",Helvetica,Arial,sans-serif;
    margin: 0;
    display: block;
    line-height: normal;
    word-wrap: break-word;
    padding: 1em 0em;    
    text-align: center;
    background-color:rgba(0,0,0,0);
    margin:0 auto;
    color:$darkGrey;
}

h1 {
    font-weight: bold;
    font-size: 6em; //96px
    letter-spacing: .025em;  
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4em; //64px
    letter-spacing: 0;
}

h3 {   
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3em; //48px
    letter-spacing: 0;
}

h4 {
    font-weight: bold;
    text-transform: lowercase;
    font-size: 2em;
    letter-spacing: .05em;
}

h5 {
    font-weight: normal;
    text-transform: lowercase;
    font-size: 2em;
    letter-spacing: .025em;
}

h6 {
    font-weight: bold;
    text-transform: lowercase;
    font-size: 1em;
    letter-spacing: .025em;
}

h7 {
    font-weight: normal;
    text-transform: lowercase;
    font-size: 1em;
    letter-spacing: 0;
}


strong{
    font-weight:bold;
}

p{
    font-size: 1em;
    color:$darkGrey;
    width:100%;
    max-width:1000px;
    margin:0 auto;
    text-align:left;
    padding:1em;
}

.footerText{
    font-size: 1em;
    color:white;
    width:100%;
    max-width:1000px;
    margin:0 auto;
    text-align:center;
    padding:1em;
    background-color:$turquoise;
}

.heroHeader{
    background-image:url("../img/hero.jpg");
    background-size: cover;
    h1{
        padding:300px 0;
        color:white;
    }
}

    .color{
        display:flex;
        flex-flow:row wrap;
        padding:20px;
        background-color:white;
        .colorBox{
            flex-basis:50%;
            background-color:white;
            height:auto;
            padding:20px;
            display:flex;
            .lightGrey,.mediumGrey,.darkGrey,.navy,.turquoise,.black,.white,.orange{
                padding:20px;
                height:400px;
                flex-basis:100%;
            }   
            p,.lightGrey,.mediumGrey,.darkGrey,.navy,.turquoise,.black,.white,.orange{
                margin:0 auto;
                color:white;
                font-size:32px;
                padding:10px;
            }
            .wHover{
                padding:20px;
                height:400px;
                flex-basis:50%;
                flex-flow: row nowrap;
            }  
            .white{
                background-color:white;
                border-style: solid;
                border-color: black;
                border-width: 4px;
                p{
                    color:black;
                }
            }
            .lightGrey{
                background-color:$lightGrey;
            }
            .mediumGrey{
                background-color:$mediumGrey;
            }
            .darkGrey{
                background-color:$darkGrey;
            }
            .navy{
                background-color:$navy;
            }
            .turquoise{
                background-color:$turquoise;
            }
            .orange{
                background-color:$orange;
            }
            .rust{
                background-color:$rust;
            }
            .black{
                background-color:$black;
            }
        }
    }


@media screen and (max-width: 992px) {
    .navbar {
        .nav-container {   
            .left-menu {
                display: inline-flex;
                flex-basis: 0;
                flex-grow: 2;
            }
            
            .search-and-country {
                display: none;
            }
            
            .nav-left, .nav-right {
                display: none;
            }
            
            .logo {
                a.navbar-logo {
                    .content {
                        img {
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1680px) and (min-width: 992px) { 
    .main{        
        .heroTop {
            padding: 300px 0 0 0;    
            h1{
                font-size: 3em;
            }
        }
        
        .copyText{
            .keywordRichDescription{
                font-size: 1.5rem;
                padding: 50px 20px;
            }
        }
        
        .mediaElement{
            padding: 20px 0px;
            text-align:center;
            iframe{
                height:751.5px;
                padding-top: 20px;
            }
            .details{
                padding: 10px 10px 30px 10px;
            }
        }
        
        .olderContent{
            display:none;
        }
        
        .contentCardGallery{
            .card{
                .topHalf{
                    iframe{
                        height:310px;
                    }
                }
                .bottomHalf{
                    .details{
                        padding: 10px 0px 60px 0px;
                        .title{
                            font-size: 1.5rem;
                        }
                         .description{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }  
    }                                                   
}

@media screen and (max-width: 991px) and (min-width: 500px) {
   .main{
        .heroTop {
            padding: 300px 0 0 0;    
            h1{
                font-size: 2.5em;
            }
        }
        
        .copyText{
            .keywordRichDescription{
                font-size: 1.5rem;
                padding: 50px 20px;
            }
        }
       
       .partnerDisplay{
            width:100%;
            display:flex;
            font-size:0;
            padding: 30px 0px;
            flex-flow: row wrap;
            a{
                max-width:20%;
                padding:10px;
                width:336px;
                img{
                    width:100%;
                    height:100%;
                }
            }
        }
        
        .mediaElement{
            padding: 20px 0px;
            text-align:center;
            iframe{
                height:575px;
                padding-top: 20px;
            }
            .details{
                padding: 10px 10px 30px 10px;
            }
        }
       
        .contentCardGallery{
            .card{
                width:100%;
                flex-basis:100%;
                padding:20px;
                .topHalf{
                    iframe{
                        height:310px;
                    }
                }
                .bottomHalf{
                    .details{
                        padding: 10px 0px 60px 0px;
                        .title{
                            font-size: 1.8rem;
                        }
                         .description{
                            font-size: 1rem;
                        }
                    }
                }
            }
        } 
    }    
}

@media screen and(max-width: 499px) {
    .main{
        h2{
            font-size: 3rem;
        }
        .heroTop {
            padding: 300px 0 0 0;    
            h1{
                font-size: 2.5em;
            }
        }
        
        .copyText{
            .keywordRichDescription{
                font-size: 1.2rem;
                padding: 50px 20px;
            }
        }
       
       .partnerDisplay{
            width:100%;
            display:flex;
            font-size:0;
            padding: 30px 0px;
            flex-flow: row wrap;
            a{
                max-width:33.33%;
                padding:10px;
                width:336px;
                img{
                    width:100%;
                    height:100%;
                }
            }
        }
        
        .mediaElement{
            padding: 20px 0px;
            text-align:center;
            iframe{
                height:300px;
                padding-top: 20px;
            }
            .details{
                padding: 10px 10px 30px 10px;
                .title{
                    font-size:2rem;
                }
                .description{
                    font-size: 1.2rem;
                }
            }
        }
        
        .contentCardGallery{
            .card{
                width:100%;
                flex-basis:100%;
                padding:0px;
                .topHalf{
                    iframe{
                        height:250px;
                    }
                }
                .bottomHalf{
                    .details{
                        padding: 10px 0px 30px 0px;
                        .title{
                            font-size: 1.8rem;
                            padding:20px;
                        }
                         .description{
                            font-size: 1.2rem;
                             padding:20px;
                        }
                    }
                }
            }
        } 
    }    
}

    