@import url(reset.css);
/* line 11, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
body {
  padding: 0;
  margin: 0;
  background: #333;
  box-sizing: border-box;
  font-family: "Interstate", Helvetica, Arial, sans-serif;
  letter-spacing: .025em;
  color: #333;
  line-height: 1.5; }

/* line 22, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
* {
  box-sizing: inherit; }

/* line 26, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
.details {
  text-align: center; }

/* line 30, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
a {
  font-family: "Interstate", sans-serif;
  color: #666;
  text-decoration: none;
  text-transform: uppercase; }

/* line 37, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
h1, h2, h3, h4, h5, h6, h7 {
  font-family: "Interstate",Helvetica,Arial,sans-serif;
  margin: 0;
  display: block;
  line-height: normal;
  word-wrap: break-word;
  padding: 1em 0em;
  text-align: center;
  background-color: transparent;
  margin: 0 auto; }

/* line 49, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
h1 {
  font-weight: bold;
  font-size: 90px;
  letter-spacing: .025em;
  text-transform: uppercase; }

/* line 56, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 0; }

/* line 63, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0; }

/* line 70, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: .05em; }

/* line 77, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .025em; }

/* line 84, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
h6 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .025em; }

/* line 91, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
h7 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0; }

/* line 99, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
strong {
  font-weight: bold; }

/* line 104, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
.main {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  background-color: white; }
  /* line 110, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .copyText {
    background-image: url(../img/nice_snow.png);
    background-size: cover;
    width: 100%;
    background-clip: content-box;
    max-width: 1680px; }
    /* line 116, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .copyText .keywordRichDescription {
      display: block;
      font-size: 1.5rem;
      margin: 0 auto;
      color: navy;
      padding: 100px 0px;
      max-width: 1000px;
      text-align: center; }
  /* line 128, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .partnerDisplay {
    width: 100%;
    display: flex;
    font-size: 0;
    padding: 30px 0px; }
    /* line 133, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .partnerDisplay a {
      max-width: 20%;
      padding: 10px;
      width: 336px; }
      /* line 137, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .partnerDisplay a img {
        width: 100%;
        height: 100%; }
  /* line 147, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .contentCardGallery {
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 0;
    margin: 0 auto;
    max-width: 1680px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap; }
    /* line 157, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .contentCardGallery .card {
      flex-basis: 50%;
      align-content: flex-start;
      box-sizing: border-box;
      display: block;
      padding: 20px; }
      /* line 163, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .contentCardGallery .card .topHalf {
        width: 100%;
        position: relative; }
        /* line 166, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
        .main .contentCardGallery .card .topHalf iframe {
          width: 100%;
          max-width: 1200px;
          height: 546.666666666px; }
      /* line 172, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .contentCardGallery .card .bottomHalf {
        flex-flow: row wrap;
        display: flex; }
        /* line 175, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
        .main .contentCardGallery .card .bottomHalf .details {
          width: 100%;
          max-width: 1200px;
          padding: 10px 0px 60px 0px;
          margin: 0 auto; }
          /* line 180, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
          .main .contentCardGallery .card .bottomHalf .details .title {
            width: 100%;
            font-size: 2rem;
            text-align: left;
            padding: 5px; }
          /* line 186, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
          .main .contentCardGallery .card .bottomHalf .details .description {
            width: 100%;
            font-size: 1.2rem;
            text-align: left;
            padding: 5px; }

/* line 197, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
.mediaElement {
  width: 100%;
  max-width: 1680px;
  padding: 60px 0px;
  text-align: center; }
  /* line 203, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .mediaElement iframe {
    width: 100%;
    max-width: 1200px;
    height: 800px;
    padding-top: 60px; }
  /* line 209, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .mediaElement .details {
    width: 100%;
    max-width: 1200px;
    padding: 10px 0px 60px 0px;
    margin: 0 auto; }
    /* line 214, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .mediaElement .details .title {
      width: 100%;
      font-size: 3rem;
      text-align: left;
      padding: 5px; }
    /* line 220, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .mediaElement .details .description {
      width: 100%;
      font-size: 1.5rem;
      text-align: left;
      padding: 5px; }

/* line 229, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
footer {
  background-color: #366;
  width: 100%;
  height: 80px;
  color: white;
  line-height: 80px;
  text-align: center; }

@media screen and (max-width: 992px) {
  /* line 242, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .navbar .nav-container .left-menu {
    display: inline-flex;
    flex-basis: 0;
    flex-grow: 2; }
  /* line 248, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .navbar .nav-container .search-and-country {
    display: none; }
  /* line 252, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .navbar .nav-container .nav-left, .navbar .nav-container .nav-right {
    display: none; }
  /* line 259, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .navbar .nav-container .logo a.navbar-logo .content img {
    height: 50px; } }

@media screen and (max-width: 1680px) and (min-width: 992px) {
  /* line 271, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .heroTop {
    padding: 300px 0 0 0; }
    /* line 273, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .heroTop h1 {
      font-size: 3em; }
  /* line 279, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .copyText .keywordRichDescription {
    font-size: 1.5rem;
    padding: 50px 20px; }
  /* line 285, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .mediaElement {
    padding: 20px 0px;
    text-align: center; }
    /* line 288, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .mediaElement iframe {
      height: 751.5px;
      padding-top: 20px; }
    /* line 292, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .mediaElement .details {
      padding: 10px 10px 30px 10px; }
  /* line 297, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .olderContent {
    display: none; }
  /* line 304, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .contentCardGallery .card .topHalf iframe {
    height: 310px; }
  /* line 309, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .contentCardGallery .card .bottomHalf .details {
    padding: 10px 0px 60px 0px; }
    /* line 311, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .contentCardGallery .card .bottomHalf .details .title {
      font-size: 1.5rem; }
    /* line 314, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .contentCardGallery .card .bottomHalf .details .description {
      font-size: 1rem; } }

@media screen and (max-width: 991px) and (min-width: 500px) {
  /* line 326, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .heroTop {
    padding: 300px 0 0 0; }
    /* line 328, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .heroTop h1 {
      font-size: 2.5em; }
  /* line 334, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .copyText .keywordRichDescription {
    font-size: 1.5rem;
    padding: 50px 20px; }
  /* line 340, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .partnerDisplay {
    width: 100%;
    display: flex;
    font-size: 0;
    padding: 30px 0px;
    flex-flow: row wrap; }
    /* line 346, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .partnerDisplay a {
      max-width: 20%;
      padding: 10px;
      width: 336px; }
      /* line 350, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .partnerDisplay a img {
        width: 100%;
        height: 100%; }
  /* line 357, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .mediaElement {
    padding: 20px 0px;
    text-align: center; }
    /* line 360, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .mediaElement iframe {
      height: 575px;
      padding-top: 20px; }
    /* line 364, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .mediaElement .details {
      padding: 10px 10px 30px 10px; }
  /* line 370, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .contentCardGallery .card {
    width: 100%;
    flex-basis: 100%;
    padding: 20px; }
    /* line 375, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .contentCardGallery .card .topHalf iframe {
      height: 310px; }
    /* line 380, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .contentCardGallery .card .bottomHalf .details {
      padding: 10px 0px 60px 0px; }
      /* line 382, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .contentCardGallery .card .bottomHalf .details .title {
        font-size: 1.8rem; }
      /* line 385, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .contentCardGallery .card .bottomHalf .details .description {
        font-size: 1rem; } }

@media screen and (max-width: 499px) {
  /* line 397, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main h2 {
    font-size: 3rem; }
  /* line 400, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .heroTop {
    padding: 300px 0 0 0; }
    /* line 402, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .heroTop h1 {
      font-size: 2.5em; }
  /* line 408, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .copyText .keywordRichDescription {
    font-size: 1.2rem;
    padding: 50px 20px; }
  /* line 414, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .partnerDisplay {
    width: 100%;
    display: flex;
    font-size: 0;
    padding: 30px 0px;
    flex-flow: row wrap; }
    /* line 420, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .partnerDisplay a {
      max-width: 33.33%;
      padding: 10px;
      width: 336px; }
      /* line 424, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .partnerDisplay a img {
        width: 100%;
        height: 100%; }
  /* line 431, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .mediaElement {
    padding: 20px 0px;
    text-align: center; }
    /* line 434, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .mediaElement iframe {
      height: 300px;
      padding-top: 20px; }
    /* line 438, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .mediaElement .details {
      padding: 10px 10px 30px 10px; }
      /* line 440, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .mediaElement .details .title {
        font-size: 2rem; }
      /* line 443, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .mediaElement .details .description {
        font-size: 1.2rem; }
  /* line 450, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
  .main .contentCardGallery .card {
    width: 100%;
    flex-basis: 100%;
    padding: 0px; }
    /* line 455, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .contentCardGallery .card .topHalf iframe {
      height: 250px; }
    /* line 460, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
    .main .contentCardGallery .card .bottomHalf .details {
      padding: 10px 0px 30px 0px; }
      /* line 462, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .contentCardGallery .card .bottomHalf .details .title {
        font-size: 1.8rem;
        padding: 20px; }
      /* line 466, C:/Users/Phillip/Documents/GitHub/zealOpticsStyleGuide/css/style.scss */
      .main .contentCardGallery .card .bottomHalf .details .description {
        font-size: 1.2rem;
        padding: 20px; } }

/*# sourceMappingURL=style.css.map */